
<div data-controller="toggle-hidden">

  <p data-toggle-hidden-target="text" class="hidden">
    This is hidden text.
  </p>

  <button data-action="click->toggle-hidden#toggle">Toggle visibility</button>

</div>
